@import "tailwindcss";
@import "@fontsource/inter";

@font-face {
    font-family: 'Poly Bulky';
    src: url('./assets/fonts/polysanstrial-bulky.otf') format('opentype');
}

@font-face {
    font-family: 'Poly Wide';
    src: url('./assets/fonts/polysanstrial-medianwide.otf') format('opentype');
}

@font-face {
    font-family: 'Poly Italic';
    src: url('./assets/fonts/polysansitalictrial-slimititalic.otf') format('opentype');
}


@theme {
    --color-dark: #000957;
    --color-primary: #344CB7;
    --color-secondary: #577BC1;
    --color-light: #FFEB00;
    --color-white: #FBFBFB;
    --font-polyb: 'Poly Bulky', sans-serif;
    --font-polyw: 'Poly Wide', sans-serif;
    --font-polyi: 'Poly Italic', sans-serif;
}

@layer base {
    :root {
        font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    }
}


body {
    @apply bg-white;

}

.clickable {
    @apply transition cursor-pointer active:scale-105 hover:scale-105 ;
}

.section-title {
    @apply text-[1rem] md:text-[1.5rem] text-primary font-bold;
}

.section-sub {
    @apply text-[0.8rem] md:text-[1rem] active:scale-103 hover:underline text-secondary cursor-pointer font-medium;
}

.category-card {
    @apply bg-gray-100 text-[0.8rem] md:text-[1.3rem] px-5 py-3 rounded-full text-center hover:bg-gray-200 cursor-pointer transition;
}
